
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
margin: 0;
padding: 0;
    
}
body {
font-family: 'Poppons', sans-serif;
display: flex;
flex-direction: column;
flex-wrap: wrap;



}
.header {
    background-color: #1f2937;    
    display: flex;
    padding: 0 100px;
    flex-direction: column;
    padding-top: 5px;    ;
    justify-content: center;
    
    
    
    
    
}
.headerone {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;;

}
.headerone p {
    font-size: 24px;
    font-weight: x-large;
    color: #f9faf8;
    
}
ul {
    list-style-type:none;
    
}
a {
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.links {
    display: flex;
    gap:16px;
}
.headerone img {
    object-fit: cover;
    width: 150px;
    height: 100px;
}

.headertwo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.headertwo p:nth-child(1) {
    font-size: 48x;
    font-size: xx-large;
    color:#f9faf8;
    padding-bottom:8px;
}
.headertwo p:nth-child(2) {
    font-size: 18px;
    color:#e5e7eb;
    padding-bottom: 5px;;
}
.headertwo button {
    display: flex;
    background-color: #3882f6;
    color:white;
    font-size: 14px;
    justify-content: center;
    padding:0px 20px;
    border-radius: 5px;
    align-items: center;

}
.headertwo img {
    border-radius: 4px;    
    height: 200px;
    min-width: 50%;
    margin-left: 10px;
    object-fit: cover;
}
.contentone {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    margin: 0 100px;
    
    
}
.contentone h2 {
    font-size:36px;
    font-size: xx-large;
    color:#1f2937
}
.randominfo{
    display: flex;
    justify-content: center;
    
    align-items: center;
    
}
.parent {
    display: flex;
    margin: 50px;
    justify-content:space;
    

}
.parent img {
    border-radius: 4px;
    display: flex;
    height: 150px;
    min-width: 70%;
    margin-left: 10px;
    flex:1;
    justify-content: space-evenly;
    object-fit: cover;
}
.contenttwo{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    padding:60px 200px;

}
.contenttwo p:nth-child(1){
    font-size: 20px;
    color: #1f2937;
    font-style: italic;
}
.contenttwo p:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    font-size: 15pxs;
    font-weight: bold;

}
.contentthree {
    display: flex;    
    background-color: #3882f6;
    margin:50px 150px;
    padding:25px 50px;
    border-radius: 6px;
}
.contentthree button {
    display: flex;
    background-color: #3882f6;
    color:white;
    font-size: 14px;
    justify-content: center;
    padding:0px 20px;
    border-radius: 5px;
    align-items: center;
    margin-left: 50px;
    border: 2px solid #E8E8E8;
    
}
.bluebox {
    color:#f9faf8
}
.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    color: #f9faf8;
    align-items: center;
    padding: 15px;;
}
